<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <form>
        <input type="search" ng-model="srchC.dept" ng-change="srchC.search(srchC.dept)" class="form-input"
               required="" autofocus placeholder="Search Department...">
        <button type="button" ng-click="srchC.download()"
                class="btn btn-info float-right">
            Download <span class="glyphicon glyphicon-download-alt"></span>
        </button>
    </form>
    <br/> <br/>
    <span class="my-span"> Displaying Number of Entries :
        <input type="number" value="{{srchC.emps.length}}" max="100" min="0">
    </span>
    <div id="table-wrapper">
        <div id="table-scroll">
            <display-with-react employees="srchC.emps"></display-with-react>
        </div>
    </div>
    <br/>

    <div>
        <a ui-sref="main.view2b.update" class="btn btn-info" ng-click="srchC.setSelectedEmployee()">
        <!--ng-disabled="form.$invalid" -->
            Update Employee<span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <button type="button" ng-click="srchC.removeEmployee()" class="btn btn-info float-left">Delete Employee</button>
    </div>

</div>
<br/>
</body>
</html>