<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <div style="height: 350px">
            <carousel interval="carouselCtrl.myInterval" no-wrap="carouselCtrl.noWrapSlides">
                <slide ng-repeat="slide in carouselCtrl.slides" active="slide.active"  index="$index">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                    </div>
                </slide>
            </carousel>
        </div>

        <button type="button" class="btn btn-default" ng-click="carouselCtrl.addSlide()">Add Slide</button>
        <br/>
        <label>
            <input type="checkbox" ng-model="carouselCtrl.noWrapSlides">
            Disable Looping
        </label>
        <br/>
        <label>
            Enter the interval: <input type="number" ng-model="carouselCtrl.myInterval">
        </label>
    </div>

    <br/>
    <div>
        <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle Collapse</button>
        <br/>
        <div collapse="isCollapsed">Some content here...</div>
    </div>

<br/>

    <div ng-controller="DateDemoCtrl as DDC">
        <pre>Selected Date: {{DDC.dt | date:'fullDate'}}</pre>
        <h4>Inline</h4>
        <div style="display: inline-block; min-height: 350px">
            <datepicker ng-model="DDC.dt" show-weeks="true" min-date="minDt"></datepicker>
        </div>
        <br/>
        <h4>Popup</h4>
        <div>
            <input type="text" datepicker-popup ng-model="DDC.dt" is-open="DDC.status.opened" close-text="Close"
                   datepicker-options="dateOptions" date-disabled="DDC.disabled(date, mode)" ng-required="true"/>
            <button type="button" ng-click="DDC.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
    </div>
</body>
</html>