<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="css-form">
    <div class="form-group">
        <label for="name">Employee Name</label> <input type="text"
                                                       ng-model="nefC.emp.name" name="name" required=""
                                                       ng-model-options="{updateOn : 'blur'}"/>

        <div ng-show="form.$submitted || form.name.$touched">
            <span ng-show="form.name.$error.required">Enter employee name</span>
        </div>
    </div>

    <div class="form-group">
        <label for="sal">Employee Salary</label> <input type="number"
                                                        ng-model="nefC.emp.salary" name="sal" required=""
                                                        ng-model-options="{updateOn : 'blur'}"/>

        <div ng-show="form.$submitted || form.sal.$touched">
				<span ng-show="form.sal.$error.required">Enter employee
					salary</span>
        </div>
    </div>

    <div class="form-group">
        <label for="dept">Department</label> <input type="text"
                                                    ng-model="nefC.emp.dept" name="dept" required=""
                                                    ng-model-options="{updateOn : 'blur'}"/>

        <div ng-show="form.$submitted || form.dept.$touched">
				<span ng-show="form.dept.$error.required">Enter employee
					department</span>
        </div>

        <div class="form-group">
            <label for="mgr_id">Manager Id</label> <input type="text"
                                                          ng-model="nefC.emp.mgr_id" name="mgr_id" required=""
                                                          ng-model-options="{updateOn : 'blur'}"/>

            <div ng-show="form.$submitted || form.mgr_id.$touched">
					<span ng-show="form.mgr_id.$error.required">Enter employee
						department</span>
            </div>

            <div class="form-group">
                <label for="uagree">I agree</label> <input type="checkbox"
                                                           ng-model="nefC.emp.agree" name="uagree" required=""/> <br/>

                <div ng-show="form.$submitted || form.uagree.$touched">
						<span ng-show="form.uagree.$error.required">Please agree to
							continue.</span>
                </div>
            </div>

            <br/>

            <div>
                <a ui-sref="main.view2a.id" class="btn btn-info"> Back<span
                        class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            </div>
            <button type="submit" ng-click="nefC.save(emp)"
                    ng-disabled="form.$invalid" class="btn btn-info">
                Submit <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </button>

            <button type="button" ng-click="nefC.reset()" class="btn btn-info">
                Reset <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>

            <br/> <br/>
        </div>

        <br/>
</body>
</html>