<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div>
		<form>
			<input type="search" ng-model="emp.dept" ng-change="search(emp.dept)" class="form-input"
				required="" autofocus placeholder="Search Department...">
			<button type="button" ng-click="download()"
				class="btn btn-info float-right">
				Download <span class="glyphicon glyphicon-download-alt"></span>
			</button>
		</form>
		<br /> <br />
		<pre> Displaying Number of Entries: <input type="number" ng-model="itemsPerPage"> </pre>
		<table id="searchResults" class="table table-bordered table-striped">
			<thead>
				<tr>
					<td><input type="checkbox" ng-model="selectedAll" ng-click="selectAll()">
					</th>
					<td>Id
					</th>
					<td>Name
					</th>
					<td><a href="" ng-click="order('salary')">Salary</a>
					<span class="sortorder" ng-show="predicate === 'salary'" ng-class="{reverse:reverse}"></span>
					</th>
					</th>
					<td>Department
					</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="emp in emps | orderBy : predicate : reverse | itemsPerPage: itemsPerPage">
					<td><input type="checkbox" ng-model="emp.selected"></td>
					<td>{{emp.id}}</td>
					<td>{{emp.name}}</td>
					<td>{{emp.salary}}</td>
					<td>{{emp.department.name}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
			template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
			
	</div>
	<br />
</body>
</html>