<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
    <form>
        <input type="search" ng-model="srchC.dept" ng-change="srchC.search(srchC.dept)" class="form-input"
               required="" autofocus placeholder="Search Department...">
        <button type="button" ng-click="srchC.download()"
                class="btn btn-info float-right">
            Download <span class="glyphicon glyphicon-download-alt"></span>
        </button>
    </form>
    <br/> <br/>
    <span class="my-span"> Displaying Number of Entries :  <input type="number" ng-model="srchC.itemsPerPage" max="100" min="0"> </span>
    <table id="searchResults" class="table table-bordered table-striped my-table">
        <thead>
        <tr>
            <td><input type="checkbox" ng-model="srchC.selectedAll" ng-click="srchC.selectAll()">
            </th>
            <td>Id
            </th>
            <td>Name
            </th>
            <td><a href="" ng-click="srchC.order('salary')">Salary</a>
                <span class="sortorder" ng-show="srchC.predicate === 'salary'"
                      ng-class="{reverse:srchC.reverse}"></span>
            </th>
            </th>
            <td>Department</td>
            </th>
            <td>-</td>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="emp in srchC.emps | orderBy : srchC.predicate : srchC.reverse | itemsPerPage: srchC.itemsPerPage">
            <td><input type="checkbox" ng-model="srchC.selectedAll" ng-click="srchC.selectAll()">
            <td>{{emp.id}}</td>
            <td editable-field="emp.name"></td>
            <td editable-field="emp.salary" on-save="srchC.updateEmployee(emp)"></td>
            <td editable-field="emp.department.name"></td>
            <td><a href="" ng-click="srchC.removeEmployee(emp)">D</a></td>
        </tr>
    </table>
    <br/>

    <button type="button" ng-click="srchC.navigate('main.view2a')" class="btn btn-info float-left">Add Employee</button>

    <dir-pagination-controls class="centered" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>

</div>
<br/>
</body>
</html>