<p>This is the partial for view 2.</p>
<p>
   {{ 'App Version is %VERSION%' | interpolated | capitalize }}
</p>

<br/>
<div>
    {{ friendsC.greeting }} <br/>
    <label>Two times the value of <input ng-model="friendsC.num"> is {{ doubleVal(num) }}</label> <br/>

    <br/>
    <label>Search: <input ng-model="friendsC.searchText"><br/> </label>
    <br/>
    <table id="searchTextResults" class="table table-bordered table-striped">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friendsC.friends | filter:friendsC.searchText:friendsC.strict">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
        </tr>
    </table>

    <br/>
    <label>Any: <input ng-model="friendsC.search.$"/></label><br/>
    <label>Name: <input ng-model="friendsC.search.name"></label><br/>
    <label>Phone: <input ng-model="friendsC.search.phone"></label><br/>
    <label>Equality:<input type="checkbox" ng-model="friendsC.strict"></label><br/>
    <br/>
    <table id="searchVariousCriteria" class="table table-bordered table-striped">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="friend in friendsC.friends | filter:friendsC.search:friendsC.strict">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
        </tr>
    </table>

    <br/>

</div>

<div ng-controller="WeatherController as weatherC">
    <label> Current weather is: {{ weatherC.weather }}</label>
</div>
