/* app css stylesheet */

/*.menu:before {*/
  /*content: [;*/
/*}*/

/*.menu:after {*/
  /*content: ];*/
/*}*/
.float-right {
	float: right;
}
.menu {
    padding: 0;
    list-style: none;
    background: lightsteelblue;
}

tr:nth-child(even) {
    background: aliceblue;
}

.menu > ul {
    margin-bottom: 0;
}
.menu > li{
    display: inline-block;

    position: relative;
    line-height: 40px;
    text-align: left;

    border: 1px solid #ddd;
    border-left: none;
    border-radius: 5px 5px 5px 0px;
    -moz-border-radius: 5px 5px 5px 0px;
    -webkit-border-radius: 5px 5px 5px 0px;
}
.menu > li > a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
.menu > li > a:hover{
    cursor: pointer;
    background: lightsteelblue;
    text-decoration: underline;
}
.menu > li ul.dropdown{
    /*Set width of the dropdown*/
    min-width: 125px;
    background: lightsteelblue;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
.menu > li:hover > ul.dropdown{
    /* Display the dropdown */
    display: block;
}
.menu > li > ul.dropdown > li{
    display: block;
}

/*.menu > li:before {*/
  /*content: |;*/
  /*padding-right: 0.3em;*/
/*}*/

/*.menu > li:nth-child(1):before {*/
  /*content: ;*/
  /*padding: 2px;*/
/*}*/

.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    background-color: steelblue;
    text-align: right;
    margin: 5px;
    box-shadow: 2px 2px 2px #666;
}

.edit-in-place span {
    cursor: pointer;
}
.edit-in-place.active span {
    display: none;
}
.edit-in-place input {
    display: none;
}
.edit-in-place.active input {
    display: inline-block;
}

.progress-bar.active, .progress.active .progress-bar {
    animation: 10s linear 0s normal none infinite running;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: repeating-linear-gradient(45deg,
    black, black 10px,
    purple 15px, purple 20px);
    background-size: 20px;
}

.css-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}
.css-form input.ng-valid.ng-touched {
	background-color: green;
}

.form-input {
	width: 85%;
	display: inline-block;
	padding: 12px 16px;
	height: 46px;
	border: 1px solid #dfd7ca;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.my-table-header-only {
    border-bottom : 0px !important;
    margin-bottom: 0px !important;
}

.my-table {
    width: 90% !important;
}

.my-table td {
    width: 18%;
}

.my-table td {
    text-align: center !important;
    vertical-align:middle !important;
}

.my-span {
    width: 15%;
    padding: 8px 25px;
    text-decoration: none;
    background: lightsteelblue;
}

* { font-family: 'Arvo', serif !important; }

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

.centered > ul{
    position: relative !important;
    top: 70% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.my-carousel {
    height: 350px;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    height: 350px;
    overflow:auto;
    margin-top:20px;
}

#table-wrapper td {
    border: 1px solid #999;
    padding : 8px;
    text-align : center;
    vertical-align : middle;
}

#table-wrapper th {
    background: lightsteelblue;
}

#table-wrapper table {
    border: 1px solid #dfd7ca;
    color: #3e3f3a;
    background: #b3d4fc;
    border-bottom-width: 2px;
    border-collapse: collapse;
    width: 100%;
}