<p>This is the partial for view 2.</p>
<p>
   {{ 'App Version is %VERSION%' | interpolated | capitalize }}
</p>

<br/>
<div>
    {{ filterC.greeting }} <br/>
    <label>Two times the value of <input ng-model="filterC.num"> is {{ doubleVal(num) }}</label> <br/>

    <br/>
    <label>Search: <input ng-model="filterC.searchText"><br/> </label>
    <br/>
    <table id="searchTextResults" class="table table-bordered table-striped">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="friend in filterC.friends | filter:filterC.searchText:filterC.strict">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
        </tr>
    </table>

    <br/>
    <label>Any: <input ng-model="filterC.search.$"/></label><br/>
    <label>Name: <input ng-model="filterC.search.name"></label><br/>
    <label>Phone: <input ng-model="filterC.search.phone"></label><br/>
    <label>Equality:<input type="checkbox" ng-model="filterC.strict"></label><br/>
    <br/>
    <table id="searchVariousCriteria" class="table table-bordered table-striped">
        <tr><th>Name</th><th>Phone</th></tr>
        <tr ng-repeat="friend in filterC.friends | filter:filterC.search:filterC.strict">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
        </tr>
    </table>

    <br/>

</div>

<div>
    <label> Current weather is: {{ filterC.weather }}</label>
</div>
