<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div class="my-carousel">
        <my-carousel slides="crslCtrl.slides" myInterval="crslCtrl.myInterval"
                     noWrapSlides="crslCtrl.noWrapSlides">
        </my-carousel>
    </div>

    <button type="button" class="btn btn-default" ng-click="crslCtrl.addSlide()">Add Slide</button>
    <br/>
    <label>
        <input type="checkbox" ng-model="crslCtrl.noWrapSlides">
        Disable Looping
    </label>
    <br/>
    <label>
        Enter the interval: <input type="number" ng-model="crslCtrl.myInterval">
    </label>
</div>

</body>
</html>