<!DOCTYPE html>
<html>
<body>
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			Javascript! Websocket relies on Javascript being enabled. Please
			enable Javascript and reload this page!</h2>
	</noscript>
	<div>
		<button id="connect" ng-click="sockCtrl.connect();">Connect</button>
		<button id="disconnect" disabled="disabled" ng-click="sockCtrl.disconnect();">Disconnect</button>
	</div>
	<div id="conversationDiv">
		<label>What is your name?</label><input type="text" id="name" />
		<button id="sendName" ng-click="sockCtrl.sendName();">Send</button>
		<p id="response"></p>
	</div>
</html>